.App {
  text-align: center;
}

.App-logo {
  height: 22vmin;
  margin-left: -80%;
  margin-top: -8%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-image: url('backgroundfire2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title1{
  margin-top: -4%;
}

#caserne{
  float: left;
  width: 50%;
}

#sinistre{
  float: right;
  width: 50%;
}

#dropcolor{
  display: block;
  width: 35%;
  height: auto;
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
  border: 3px blue dashed;
  margin: auto;
}

#basket1{
  display: block;
  width: 35%;
  height: auto;
  background-color: rgb(255, 244, 127);
  text-align: center;
  padding: 20px;
  margin: auto;
}
